<!DOCTYPE html>
<html>
  <head>
    <title>GIPHY Search</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <h1>GIPHY Search</h1>
    <form method="post" action="/result">
      <p>What do you want to search?</p>
      <input
        type="text"
        id="query"
        name="query"
        placeholder="Search Giphy..."
      />
      <br />
      <p>
        <input type="submit" />
      </p>
    </form>
    {% for item in images %}
    <li>
      <a href="{{ item }}">
        <img src="{{item}}" />
      </a>
    </li>
    {% endfor %}
    <button type="button" onclick="window.location.href='{{ nextpage }}';">
      Next Page
    </button>
  </body>
</html>